In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# добавим колонку profit для поиска по прибыльности (убыточности)
data['profit'] = data.revenue - data.budget

# в колонках со списками разбиваем строку на массив
def convert_to_list(df, *columns):
    for column in columns:
        df[column] = df[column].apply(lambda x: list(i for i in x.split('|')))

# далее будем всегд работать со списками(list) в тех колонках где они есть
convert_to_list(data, 'cast','genres','production_companies','director')

# для выборок по времени нам не нужен datetime, а понадобятся только месяцы
# добавим отдельно колонку месяца
data['release_month'] = data['release_date'].apply(lambda x: int(x.split('/')[0]))

# длинна названия и описание для заданий 24,25
data['title_length'] = data['original_title'].apply(lambda x: len(x))
data['overview_length'] = data['overview'].apply(lambda x: len(x))

In [5]:
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
73,tt1029360,35000000,95437994,Poltergeist,"[Sam Rockwell, Rosemarie DeWitt, Saxon Sharbin...",[Gil Kenan],They're Here. And They Know What Scares You.,Legendary filmmaker Sam Raimi and director Gil...,93,"[Horror, Thriller]","[Ghost House Pictures, Vertigo Entertainment, ...",5/20/2015,5.0,2015,60437994,5,11,292
959,tt0267248,25000000,10719357,Abandon,"[Katie Holmes, Benjamin Bratt, Charlie Hunnam,...",[Stephen Gaghan],Watch who you leave behind.,A psychological thriller about a senior at one...,99,"[Drama, Mystery, Thriller]","[Paramount Pictures, Spyglass Entertainment, T...",10/14/2002,4.9,2002,-14280643,10,7,448
1486,tt0445946,25000000,5549200,The Contract,"[Morgan Freeman, John Cusack, Alice Krige, Meg...",[Bruce Beresford],Every Killer Meets His Equal.,Attempting to recover from a recent family tra...,96,"[Drama, Action, Thriller, Crime]","[Nu Image Entertainment, 3L Filmverleih]",4/5/2006,5.4,2006,-19450800,4,12,179
1111,tt0327056,25000000,156822020,Mystic River,"[Sean Penn, Tim Robbins, Kevin Bacon, Marcia G...",[Clint Eastwood],"We bury our sins, we wash them clean.","A story about friendship and loyalty, guilt an...",138,"[Thriller, Crime, Drama, Mystery]","[Village Roadshow Pictures, Malpaso Production...",10/7/2003,7.4,2003,131822020,10,12,110
335,tt1193138,25000000,163670000,Up in the Air,"[George Clooney, Vera Farmiga, Anna Kendrick, ...",[Jason Reitman],The story of a man ready to make a connection.,George Clooney plays the dry cynical character...,109,"[Drama, Romance]",[Paramount Pictures],9/5/2009,6.6,2009,138670000,9,13,438

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# +
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [7]:
data[ data.budget==data.budget.max() ][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data[ data.runtime==data.runtime.max() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2/21/2003,5.8,2003,-43076064,2,17,307

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data[ data.runtime==data.runtime.min() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",4/13/2011,6.8,2011,-15540000,4,15,305

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

In [18]:
data[ data.profit==data.profit.max() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",12/10/2009,7.1,2009,2544505847,12,6,175

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [20]:
data[ data.profit==data.profit.min() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090,7,15,386

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'

In [22]:
len(data[ data.revenue>data.budget ].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [24]:
# вариант 1
# вычисляем max revenue  для фильмов 2008, находим фильм(/мы) 2008 года с этим revenue
max_revenue_2008 = data[ (data.release_year==2008) ].revenue.max()
data[ (data.release_year==2008) & (data.revenue==max_revenue_2008) ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825,7,15,396

In [25]:
# вариант 2
# выбираем фильмы 2008 года и сортируем по столбцу revenue, берём верхнюю строчку
data[ (data.release_year==2008) ].sort_values(by='revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825,7,15,396

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [27]:
# для фильтрации используем query
data.query('2012<release_year<=2014').sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090,7,15,386

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = '3. Drama'

In [29]:
# просто разверём списки жанров и посчитаем каждый
# варант без explode попробуем на задании 14
data.explode('genres')['genres'].value_counts().head(1).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'

In [31]:
# тоже самое но отфильтруем прибыльные фильмы
data[ data.profit > 0 ].explode('genres')['genres'].value_counts().head(1).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = '5. Peter Jackson'

In [33]:
# data[['director','revenue']] - выбираем нужные колонки чтобы не занимать много памяти (хотя тут не очень актуально)
# .explode('director') - разворачиваем списки директоров
# .groupby(['director']).sum() - группировка по directors, суммируем
# .sort_values(by='revenue', ascending=False).head(1) - сортировка по сборам от большего, и берём первый
# можно всё это в одну строчку по PEP 8

data[['director','revenue']] \
    .explode('director') \
    .groupby('director').sum() \
    .sort_values(by='revenue', ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = '3. Robert Rodriguez'

In [35]:
# Вариант 1
# жанр отфильтруем по маске где Action содержится в списке genres
# Далее разворачиваем по director и считаем количество каждого
mask_action = data.genres.apply(lambda x: 'Action' in x)
data[mask_action].explode('director')['director'].value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

In [36]:
# Вариант 2
# посчитаем режиссёров отдельным счётчиком task_14_c без использования explode()
# фильтруем также маской
mask_action = data.genres.apply(lambda x: 'Action' in x)
task_14_df = data[mask_action]
task_14_c = Counter()

def count_directors(directors):
    #передаём внутрь глабальный счётчик
    global task_14_c
    for director in directors:
        task_14_c[director]+=1

# перебор по вспомогательному df сделаем с помощью apply
task_14_df.director.apply(count_directors)

# больше всего у кого?
task_14_c.most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. Chris Hemsworth'

In [38]:
# data[data.release_year==2012] - фильмы 2012 года
# .explode('cast') - разворачиваем списки актёров
# .groupby(['cast']).sum() - группировка по актёрам, суммируем
# .sort_values(by='revenue', ascending=False).head(1) - сортировка по сборам, и берём первый
# всё это в одну строчку по PEP 8

data[ data.release_year==2012 ] \
    .explode('cast') \
    .groupby('cast').sum() \
    .sort_values(by='revenue', ascending=False).head(1).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon'

In [40]:
# похоже на задания 11 и 12 только с фильтром по бюджету и считаем актёров
data[ data.budget>data.budget.mean() ] \
    .explode('cast')['cast'].value_counts().head(1).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = '2. Action'

In [42]:
# Вариант 1
# фильмы с Колей фильструем по маске

mask_Cage = data.cast.apply(lambda x: 'Nicolas Cage' in x)
task_17_1_df = data[mask_Cage]
task_17_1_df.explode('genres')['genres'].value_counts().head(1).index[0]

'Action'

In [43]:
# Вариант 2
# фильтруем через вспомогательных df
# pd.DataFrame(df.species.tolist()).isin(selection).any(1).values
# подойдёт если нужно отобрать содержание нескольких элементов

task_17_2_df = data[pd.DataFrame(data.cast.tolist()).isin(['Nicolas Cage']).any(1).values]
task_17_2_df.explode('genres')['genres'].value_counts().head(1).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [45]:
# отфильтруем просто развернув и выполнив query
task_18_df = data.explode('production_companies').query( 'production_companies=="Paramount Pictures"' )

# берём с минимальным профитом по этому dataFrame
task_18_df[ task_18_df.profit==task_18_df.profit.min() ][['original_title','imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
# группировка по году выпоска и суммирование
data.groupby('release_year').sum()['revenue'].sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
# надо найти все компании в названии которых есть Warner Bros
# поэтому не просто выбираем (x in list)
# а любое вхождение в элемент списка: any(['name' in i for i in mylist])
# фильтруем также по аналогии с масками в предыдущих примерах
task_20_df = data[data.production_companies.apply(lambda x: any(['Warner Bros' in i for i in x]))]
task_20_df.groupby('release_year').sum()['profit'].sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [51]:
# т.к. месяц вынесли отдельной колонкой, просто посчитаем их
data['release_month'].value_counts().sort_values(ascending=False).head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'

In [53]:
len(data.query('release_month in [6,7,8]').index)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'

In [55]:
data.query('release_month in [1,2,12]').explode('director')['director'].value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'

In [57]:
# длина названия вынесена в колонку title_length
data.explode('production_companies') \
    .groupby('production_companies').mean() \
    ['title_length'].sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Four By Two Productions'

In [59]:
# аналогично 24
data.explode('production_companies') \
    .groupby('production_companies').mean() \
    ['overview_length'].sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
# берём .99 quantile и все фильмы с рейтингом выше
data[ data.vote_average.quantile(.99) < data.vote_average ]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [63]:
# честно подсмотрел как предложил Сергей Мещеряков
# лучший вариант

data['cast_comb'] = data.cast.apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.cast_comb.values.sum())
Counter(data.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Four By Two Productions',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27